body{position:absolute;top:0px;
  background-image:url(https://teddytest1.github.io/img1/%E8%83%8C%E6%99%AF.png);
}
.button{
  display: inline-block;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color:#bda9a0;
  color:#411d1d;
  font-family:微軟正黑體;
  font-weight:bold;
  font-size:35px;
  
}
.button1{
  display: inline-block;
  padding: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color:#411d1d;
  color:white;
  font-family:微軟正黑體;
  font-weight:bold;
  font-size:35px;
  cursor:no-drop;
}
.button:hover{
  background-color: #411d1d;
  color:white;
  cursor:url('https://teddytest1.github.io/img1/0001.png'),auto;
}
.nav_ul{
  background-color:#bda9a0;
  
}
.content{
  max-width:100%;
  margin-top:0px;
}
.g1{
  
 width: 100%;
height: 50px;
background: #a6b3a7;
}
#menu{
   position: fixed;
  top: 0;
  left: 0px;
  height: 80px;
  width: 100%;
  z-index:5;
}
li::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: 26px solid;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}
<style type="text/css">
#P1{
    position:absolute;
    top:00px;
    left:0px;
    z-index:-1;
}
#P2{
    position:absolute;
    top:180px;
    left:100px;
    z-index:0;
}
#P3{
    position:absolute;
    top:520px;
    left:940px;
    z-index:0;
}
#P4{
    position:absolute;
    top:180px;
    left:900px;
    z-index:0;
}
#P5{
    position:absolute;
    top:398px;
    left:230px;
    z-index:3;
}
#P6{
    position:absolute;
    top:195px;
    left:515px;
    z-index:0;
}
#P7{
    position:absolute;
    top:180px;
    right:100px;
    z-index:0;
}
#P8{
    position:absolute;
    top:520px;
    right:940px;
    z-index:0;
}
#P9{
    position:absolute;
    top:180px;
    right:900px;
    z-index:0;
}
#P10{
    position:absolute;
    top:398px;
    right:235px;
    z-index:3;
}
#P11{
    position:absolute;
    top:195px;
    right:140px;
    z-index:0;
}
#P12{
    position:absolute;
    top:399px;
    left:120px;
    z-index:3;
}
#P13{
    position:absolute;
    top:398px;
    left:120px;
    z-index:3;
}
.font1{
  font-size:65px;
  font-family:圓體;
  font-weight:bold;
}
.font2{
  font-size:25px;
  font-family:Montserrat;
  font-weight:bold;
}
.font3{
  font-size:26px;
  font-family:Montserrat;
  font-weight:bold;
}
.font4{
  font-size:23px;
  font-family:Montserrat;
  font-weight:bold;
}
</style>
